PORT=3000

# PostgreSQL Settings
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=postgres
DB_PORT=5432

# Option 2 (Single URL):
# DATABASE_URL=postgresql://user:password@host:port/database?sslmode=require
